.imageProfile {
  border-radius: 50%;
  background-image: url("266.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
}

.header {
  width: 90%;
  margin: 15px auto 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.serach {
  display: flex;
  max-width: 90%;
  margin: auto;
  gap: 10px;
}

.filterBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 15px auto;
  padding: 10px;
}

.filterBtns {
  color: gray;
  padding: 10px 0;
  width: 22%;
  font-size: 8px;
  font-weight: 900;
  border-radius: 5px;
  border: 1px solid grey;
}

.productsContainer {
  display: flex;
  border: 1px solid grey;
  gap: 15px;
  height: 150px;
  width: 90%;
  margin: 15px auto;
}
