
.serach {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  gap: 10px;
}

.filterBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  gap: 10px;
  margin: 20px auto;
  padding: 10px;
}

.filterBtns {
  color: gray;
  padding: 10px 0;
  width: 30%;
  font-size: 8px;
  font-weight: 900;
  border-radius: 5px;
  border: 1px solid grey;
}

.searchIcon {
  font-size: 30px;
  padding: 5px;
  color: white;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding-left: 8px;
}
.productsContainer {
  display: flex;
  border: 1px solid grey;
  gap: 15px;
  height: 150px;
  width: 90%;
  margin: 15px auto;
  overflow: scroll;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  background-color: white;
  bottom: 0;
  left: 0;
  padding: 20px 0;
}

.footerIcons {
  font-size: 24px;
  color: grey;
}

.footerIcons:first-child {
  color: black;
}
