.lableContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  background-color: rgb(255, 5, 5);
  padding: 3px;
  font-weight: 700;
  width: 20px;
  font-size: 12px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 15px;
  right: -10px;
}

.currentPage {
  fill: black;
}
