.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 15px 20px;
  border: 2px solid grey;
  border-radius: 15px;
  margin: 0 auto 100px;
  gap: 20px;
}

.text {
  font-size: 15px;
  font-weight: 900;
  margin: 0;
  text-align: center;
}
.desc {
  font-size: 10px;
  color: grey;
  margin: 0;
  font-weight: 600;
  line-height: 13px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.addBtn {
  font-size: 11px;
  cursor: pointer;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.removeBtn {
  font-size: 11px;
  cursor: pointer;
  padding: 10px;
  background-color: rgb(112, 3, 3);
  color: white;
  border-radius: 10px;
}
