.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: 10px;
}
.product {
  display: flex;
  border-radius: 10px;
  border: 2px solid grey;
  gap: 15px;
  height: 170px;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 10px auto;
}


.product:last-child{
  margin-bottom: 10px;
}
.priceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 15px;
  margin-left: 10px;
}
