.lableContainer {
  position: relative;
}

.label {
  background-color: rgb(255, 5, 5);
  padding: 2px;
  width: 20px;
  font-size: 12px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 20px;
  right: -10px;
}
