.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  background-color: white;
  bottom: 0;
  left: 0;
  padding: 30px 0;
  fill: rgba(0, 0, 0, 0.306);
  width: 100%;
}

svg {
  width: 20px;
}

.currentPage {
  fill: black;
}
