.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: white;
  bottom: 0;
  left: 0;
  margin-top: 10px;
  padding: 30px 0;
  fill: rgba(0, 0, 0, 0.306);
  width: 100%;
  box-shadow: 5px 5px 20px black;
  overflow-x: scroll;
}

svg {
  width: 20px;
}

.currentPage {
  fill: black;
}
