body {
  margin: 0;
}
.container {
  position: relative;
  background-image: url("Start.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.startBtn {
  position: fixed;
  top: 85%;
  left: 14%;
  border-radius: 10px;
  font-size: 30px;
  padding: 20px 70px;
}
